<section class="relative overflow-hidden">

  <!-- Fondo desenfocado -->
  <div class="absolute inset-0 ">
    <img
      src="/hero.png"
      alt=""
      class="w-full h-full object-cover blur-2xl opacity-60 bg-black/35
"
    />
    <!-- overlay MÁS SUAVE -->
    <div class="absolute inset-0 "></div>
  </div>

  <!-- Contenido -->
  <div class="relative z-10 max-w-7xl mx-auto px-6 py-28 grid md:grid-cols-2 gap-12 items-center">

    <!-- Texto -->
    <div class="text-white">
      <h1 class="text-4xl md:text-5xl font-bold mb-6">
        Casas en paneles SIP modernas y accesibles
      </h1>

      <p class="text-lg text-gray-200 mb-8">
        Alta eficiencia térmica, construcción rápida y precios claros.
      </p>


      <div class="flex gap-4">
        <a
          href="#modelos"
          class="bg-white text-black px-6 py-3 rounded-xl font-semibold hover:bg-gray-200 transition animate-pulse"
        >
          Ver modelos
        </a>

        <a
          href="#contacto"
          class="border border-white px-6 py-3 rounded-xl hover:bg-white hover:text-black transition "
        >
          Cotizar
        </a>
      </div>
    </div>

    <!-- Imagen principal -->
    <div>
      <img
        src="/hero.png"
        alt="Casa prefabricada moderna"
        class="rounded-2xl shadow-2xl"
      />
    </div>

  </div>
</section>
